.container {
  text-align: start;
  width: 23rem;
  margin: 1rem auto auto auto;
}

.program-page-margin {
  margin-top: 1rem;
}

.card {
  width: 23rem;
  margin: auto auto 3rem auto;
}

.card-img {
  width: 23rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
  /* box-shadow: 5px 5px 10px rgb(216, 216, 216); */
}

.card-info {
  width: 23rem;
  margin: -5px auto;
  text-align: start;
  background-color: #eaeaea;
  padding: 0rem 1rem 1.5rem 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.fitness-level {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.location {
  display: flex;
  gap: 1rem;
  font-weight: 600;
}

.program-btn {
  width: 100%;
  padding: 1.3rem;
  font-weight: 600;
}

/* Card Image */

.text-overlay {
  color: #fff;
  text-shadow: 0px 0px 5px rgb(54, 54, 54);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 50;
}

.img-container {
  position: relative;
  display: inline-block;
}

/* ProgramDetails Page */

.program-img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.program-title {
  display: flex;
}

.program-name {
  padding: 0;
  margin: 0 auto 0 0;
}

.program-title p {
  margin: 0;
  font-weight: 600;
  align-self: center;
}

.star-big {
  color: var(--accent);
  width: 1.2rem;
}

.reviews {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.reviews span {
  margin-left: 0.5rem;
}

.review-count {
  font-size: 0.8rem;
}

.pricing {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.strikethrough-price {
  text-decoration: line-through;
  text-decoration-thickness: 0.1rem;
  color: #bbbbbb;
}

.feature-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.feature {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.program-icons {
  background-color: var(--accent);
  width: 4rem;
  height: 4rem;
  color: #fff;
  border-radius: 50%;
  padding: 0.4rem;
}

.description-box {
  background-color: #eaeaea;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 12px;
}

/* Personal training */

.personal-training-section h1 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.in-person-heading {
  text-align: center;
}

.in-person-heading span {
  font-size: 1em;
}

.training-price-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.price-btn {
  background-color: #fff;
  color: var(--accent);
  font-weight: 600;
  border: 2px solid var(--accent);
  border-radius: 25px;
  width: 7rem;
  padding: 0.5rem 1rem;
}

.btn-active {
  background-color: var(--accent);
  color: #fff;
  font-weight: 600;
  border: 2px solid var(--accent);
  border-radius: 25px;
  width: 7rem;
  height: 2.2rem;
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
}

/* Price container */
.personal-training-section .pricing {
  margin-bottom: 0;
}

.pricing h2 {
  margin-bottom: 0.3rem;
}

/* /month */
.personal-training-section .text-colored {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.personal-training-section button {
  margin-bottom: 1rem;
}
